:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-toolbar-row{
    background-color: dodgerblue;
    color: white;
    font-size: x-large;
    font-family: sans-serif ;
}
mat-sidenav {
    margin: 16px;
    width: 240px;
    border-right: none;
    background: dodgerblue;
    color: white;
    border-radius: 20px;
    padding: 16px;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
    
}

.nameSide{
    color: white;
    margin: 16px;
    font-size: larger;
    
}

